{% import "form/macro/form.twig" as dform %}
<script src="/js/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="/js/jstree/themes/default/style.min.css"/>
<script src="/js/jstree/jstree.min.js"></script>
<script src="/js/jquery.number.min.js"></script>
<h1 class="simple-form-h1">{% if data.id %}修改{% else %}新建{% endif %}{{ form.title }}</h1>
<form action="/form/edit" method="post" enctype="multipart/form-data" class="ui form segment">
    <input type="hidden" name="id" value="{{ data.id }}">
    <input type="hidden" name="structure" value="{{ form.name }}">
    {% for name, field in form.fields %}
        <div class="field">
            <label>{{ field.label }}</label>
            {% if field.type == 'text' %}
                <div class="ui left labeled icon input">{{ dform.text(form, name, attribute(data, name)) }}</div>
            {% elseif field.type == 'integer' %}
                <div class="ui left labeled icon input">{{ dform.number(form, name, false, attribute(data, name)) }}</div>
            {% elseif field.type == 'float' %}
                <div class="ui left labeled icon input">{{ dform.number(form, name, true, attribute(data, name)) }}</div>
            {% elseif field.type == 'textarea' %}
                {{ dform.textarea(form, name, attribute(data, name)) }}
            {% elseif field.type == 'html' %}
                {{ dform.html(form, name, attribute(data, name)) }}
            {% elseif field.type == 'image' %}
                <div class="ui left labeled icon input">{{ dform.image(form, name) }}</div>
            {% elseif field.type == 'imagelist' %}
                <div class="ui left labeled icon input">{{ dform.imagelist(form, name, data) }}</div>
            {% elseif field.type == 'date' %}
                <div class="ui left labeled icon input">{{ dform.date(form, name, attribute(data, name)) }}</div>
            {% endif %}

        </div>
    {% endfor %}
    {% for name, rel in form.relations %}
        <div class="field">
            <label>{{ rel.label }}</label>
            {% if rel.type == 'm2o' %}
                {% if rel.display == 'select' %}
                    <div class="ui selection dropdown">
                        {% set p = d_parent(data, name) %}
                        <input type="hidden" name="{{ name }}" value="{{ p.id }}">

                        <div class="text">请选择</div>
                        <i class="dropdown icon"></i>

                        <div class="menu">
                            {% for item in d_list(name) %}
                                <div class="item" data-value="{{ item.id }}">{{ item.title }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% elseif rel.type == 'm2m' %}
                {% if rel.display == 'checkboxes' %}
                    {#{{ dump(d_shared(data, name)) }}#}
                    {% for data in d_list(name) %}
                        <div class="ui slider checkbox">
                            {{ dform.checkbox(form, name, data) }}
                            <label for="form_{{ form.name }}_{{ name }}_{{ data.id }}">{{ data.name }}</label>
                        </div>
                    {% endfor %}
                    <script>
                        {% for data in d_shared(data, name) %}
                            $('#form_{{ form.name }}_{{ name }}_{{ data.id }}').attr('checked', true);
                        {% endfor %}
                    </script>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    {% for name, cat in form.category %}
        <div class="field">
            <label>{{ cat.label }}</label>
            <a class="ui blue submit button small" href="/admin/category/{{ name }}" target="_blank">分类管理</a> <span
                    style="color:red">提示：按住Ctrl键可多选</span>
            {{ dform.category(form, name, cat.mult, d_shared(data, name)) }}
        </div>
    {% endfor %}
    <button class="ui red submit button">确定提交</button>
</form>
<script>
    $('.ui.radio.checkbox').checkbox();
    $('.date').datepicker($.datepicker.regional[ "zh-CN" ]);
</script>
{#{{ dump(data) }}#}