{#单行文本#}
{% macro text(form, name, value) %}
    <input id="form_{{ form.name }}_{{ name }}" type="text" name="{{ name }}" value="{{ value }}">
{% endmacro %}

{#数字，例如：142，123.45 #}
{% macro number(form, name, float, value) %}
    <input id="form_{{ form.name }}_{{ name }}" type="text" name="{{ name }}" value="{{ value }}">
    <script>
        $('#form_{{ form.name }}_{{ name }}').number(true, {% if float %}2{% else %}0{% endif %}, '.', '');
    </script>
{% endmacro %}

{#多行文本，纯文本#}
{% macro textarea(form, name, value) %}
    <textarea id="form_{{ form.name }}_{{ name }}" name="{{ name }}">{{ value }}</textarea>
{% endmacro %}

{#富文本内容，图文表格等排版#}
{% macro html(form, name, value) %}
    <textarea id="form_{{ form.name }}_{{ name }}" name="{{ name }}">{{ value }}</textarea>
    <script>
        CKEDITOR.replace("{{ name }}");
    </script>
{% endmacro %}

{#图片，数据库中保存为路径#}
{% macro image(form, name) %}
    <input id="form_{{ form.name }}_{{ name }}" type="file" name="{{ name }}">
{% endmacro %}

{#多图上传，数据库中保存为路径#}
{% macro imagelist(form, name, data) %}
    <div>
        {% for v in d_imagelist(data, name, 'small') %}
            <img src=" {{ v.url }}">
        {% endfor %}
    </div>
    <div id="form_{{ form.name }}_{{ name }}_wrap">
        <div class="inline fields row">
            <div class="field"><input type="file" name="{{ name }}[]"></div>
            <div class="field"><a class="ui red button delete">移除</a></div>
        </div>
    </div>
    <a id="form_{{ form.name }}_{{ name }}_append" class="ui red button">追加</a>
    <script>
        $('#form_{{ form.name }}_{{ name }}_append').on('click', function () {
            $('#form_{{ form.name }}_{{ name }}_wrap').append(
                    '<div class="inline fields row"><div class="field"><input type="file" name="{{ name }}[]"></div><div class="field"><a class="ui red button delete">移除</a></div></div>');
            $('#form_{{ form.name }}_{{ name }}_wrap .delete').on('click', function () {
                $(this).parents('.row').remove();
            });
        });
        $('#form_{{ form.name }}_{{ name }}_wrap .delete').on('click', function () {
            $(this).parents('.row').remove();
        });
    </script>
{% endmacro %}

{#文件，数据库中保存为路径#}
{% macro file(form, name) %}
    <input id="form_{{ form.name }}_{{ name }}" type="file" name="{{ name }}">
{% endmacro %}

{#视频，数据库中保存为路径#}
{% macro video(form, name) %}
    <input id="form_{{ form.name }}_{{ name }}" type="file" name="{{ name }}">
{% endmacro %}

{#日期和时间#}
{% macro datetime(form, name) %}
    <input id="form_{{ form.name }}_{{ name }}" type="text" name="{{ name }}">
{% endmacro %}

{#日期#}
{% macro date(form, name) %}
    <input id="form_{{ form.name }}_{{ name }}" type="text" name="{{ name }}" value="{{ value }}" class="date">

{% endmacro %}

{% macro select(form, name, data) %}
    <select name="{{ name }}">
        {% for item in data %}
            <option value="{{ item.id }}">{{ item.title }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro checkbox(form, name, data) %}
    <input type="checkbox" value="{{ data.id }}" id="form_{{ form.name }}_{{ name }}_{{ data.id }}"
           name="{{ name }}[]">
{% endmacro %}

{#{% macro checkboxes(form, name, data) %}#}
    {#{% for item in data %}#}
        {#<input type="checkbox" value="{{ item.id }}" id="form_{{ form.name }}_{{ name }}_{{ item.id }}"#}
               {#name="{{ name }}[]">#}
        {#<label for="form_{{ form.name }}_{{ name }}_{{ item.id }}">{{ item.name }}</label>#}
    {#{% endfor %}#}
{#{% endmacro %}#}

{% macro category(form, name, multiple, data) %}
    <div id="form_{{ form.name }}_{{ name }}_category">{{ d_category(name) }}</div>
    <div id="form_{{ form.name }}_{{ name }}_category_hidden"></div>
    <script>
        $(function () {
            $('#form_{{ form.name }}_{{ name }}_category').jstree({
                "core": {
                    "multiple": {{ multiple|default('false') }},
                    "check_callback": true,
                    "animation": 0
                },
                "plugins": []
            });

            {% for v in data %}
                $('#form_{{ form.name }}_{{ name }}_category').jstree('select_node', 'category_{{ name }}_{{ v.id }}');
                $('#form_{{ form.name }}_{{ name }}_category_hidden').append('<input type="hidden" name="{{ name }}[]" value="category_{{ name }}_{{ v.id }}">');
            {% endfor %}

            $('#form_{{ form.name }}_{{ name }}_category').on('changed.jstree', function (e, data) {
                $('#form_{{ form.name }}_{{ name }}_category_hidden').html('');
                $.each(data.selected, function (i, v) {
                    $('#form_{{ form.name }}_{{ name }}_category_hidden').append('<input type="hidden" name="{{ name }}[]" value="' + v + '">');
                });
            });
        });
    </script>
{% endmacro %}