{% macro text(form, name) %}
    <input id="form_{{ form.name }}_{{ name }}" type="text" name="{{ name }}">
{% endmacro %}

{% macro textarea(form, name) %}
    <textarea id="form_{{ form.name }}_{{ name }}" name="{{ name }}"></textarea>
{% endmacro %}

{% macro html(form, name) %}
    <textarea id="form_{{ form.name }}_{{ name }}" name="{{ name }}"></textarea>
    <script>
        CKEDITOR.replace("{{ name }}");
    </script>
{% endmacro %}

{% macro image(form, name) %}
    <input id="form_{{ form.name }}_{{ name }}" type="file" name="{{ name }}">
{% endmacro %}

{% macro select(form, name, data) %}
    <select name="{{ name }}">
        {% for item in data %}
            <option value="{{ item.id }}">{{ item.title }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro checkboxes(form, name, data) %}
    {% for item in data %}
        <input type="checkbox" value="{{ item.id }}" id="form_{{ form.name }}_{{ name }}_{{ item.id }}" name="{{ name }}[]">
        <label for="form_{{ form.name }}_{{ name }}_{{ item.id }}">{{ item.name }}</label>
    {% endfor %}
{% endmacro %}